name: Rust Build and Release

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *' # Monthly

env:
  CARGO_TERM_COLOR: always
  
permissions:
  contents: write
  
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-2022]
        rust: [nightly]
        configuration: [release]

        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            filename: bxt-launcher
            label: Linux-x64

          - os: windows-2022
            target: i686-pc-windows-msvc
            filename: bxt-launcher.exe
            label: Windows-x86
            
          - native-package: bxt-launcher
            
          - configuration: release
            release-flag: '--release'

    name: ${{ matrix.rust }} - ${{ matrix.label }} - ${{ matrix.configuration }}
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
  
    steps:
    - uses: actions/checkout@v4
    
    - if: job.container
      run: chown -R $(id -u):$(id -g) .
      
    - name: Install Rust
      uses: actions-rs/toolchain@v1.0.6
      with:
        profile: minimal
        override: true
        toolchain: ${{ matrix.rust }}
        target: ${{ matrix.target }}
        
    - uses: Swatinem/rust-cache@v2.7.3
        
    - name: Build
      uses: actions-rs/cargo@v1.0.1
      with:
        command: build
        args: --target ${{ matrix.target }} ${{ matrix.release-flag }} --package ${{ matrix.native-package }}
        
    - uses: actions/upload-artifact@v4.3.3
      with:
        name: bxt-launcher-${{ matrix.label }}
        path: target/${{ matrix.target }}/${{ matrix.configuration }}/${{ matrix.filename }}
    
    - name: Prepare Release
      if: startsWith(github.ref, 'refs/tags/') && matrix.configuration == 'release'
      run: |
        7z a bxt-launcher-${{ matrix.label }}.7z bxt-launcher
        
    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/') && matrix.configuration == 'release'
      with:
        files: bxt-launcher-${{ matrix.label }}.7z
        draft: true
